@use "settings" as *;

pre,
code,
kbd,
samp {
	font-size: 0.875em;
	font-family: $easy-font-family-monospace;
}

pre code,
pre samp {
	font-size: inherit;
	font-family: inherit;
}

pre {
	-ms-overflow-style: scrollbar;
	overflow: auto;
}

pre,
code,
kbd,
samp {
	border-radius: $easy-border-radius;
	background: $easy-code-background-color;
	color: $easy-code-color;
	font-weight: $easy-font-weight;
	line-height: initial;
}

code,
kbd,
samp {
	display: inline-block;
	padding: 0.375rem;
}

pre {
	display: block;
	margin-bottom: $easy-spacing;
	overflow-x: auto;
}
pre > code,
pre > samp {
	display: block;
	padding: $easy-spacing;
	background: none;
	line-height: $easy-line-height;
}

kbd {
	background-color: $easy-code-background-color;
	color: $easy-code-color;
	vertical-align: baseline;
}
