@use "settings" as *;

.container,
.container-fluid {
	width: 100%;
	margin: 0 auto;
	padding: 0 $easy-spacing;
}

@media (min-width: $easy-breakpoint-xs) {
	.container {
		max-width: $easy-container-xs-size;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: $easy-breakpoint-sm) {
	.container {
		max-width: $easy-container-sm-size;
	}
}

@media (min-width: $easy-breakpoint-md) {
	.container {
		max-width: $easy-container-md-size;
	}
}

@media (min-width: $easy-breakpoint-lg) {
	.container {
		max-width: $easy-container-lg-size;
	}
}

@media (min-width: $easy-breakpoint-xl) {
	.container {
		max-width: $easy-container-xl-size;
	}
}
