@use "settings" as *;
@use "sass:map";
@use "sass:color";

@each $name, $map in $easy-headers {
	#{$name} {
		font-size: map.get($map, "font-size");
		line-height: map.get($map, "line-height");
		margin-top: map.get($map, "spacing-top");
		font-weight: map.get($map, "font-weight");
	}
}

/**
 * Link
 */
:where(a:not([role="button"])),
[role="link"] {
	color: $easy-color-primary;
	background-color: transparent;
	outline: none;
	-webkit-text-decoration: underline;
	text-decoration: underline;
	text-decoration-color: rgba($easy-color-primary, 0.5);
	text-underline-offset: 0.125em;
	transition:
		background-color $easy-animation,
		color $easy-animation,
		box-shadow $easy-animation,
		-webkit-text-decoration $easy-animation;
	transition:
		background-color $easy-animation,
		color $easy-animation,
		text-decoration $easy-animation,
		box-shadow $easy-animation;
	transition:
		background-color $easy-animation,
		color $easy-animation,
		text-decoration $easy-animation,
		box-shadow $easy-animation,
		-webkit-text-decoration $easy-animation;
}

:where(a:not([role="button"])):is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	),
[role="link"]:is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	) {
	color: $easy-color-primary-variant;
	text-decoration: underline;
	text-decoration-color: $easy-color-primary-variant;
}

:where(a:not([role="button"])):focus-visible,
[role="link"]:focus-visible {
	box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}

:where(a:not([role="button"])).secondary,
[role="link"].secondary {
	color: $easy-color-secondary;
	text-decoration-color: $easy-color-secondary;
}

:where(a:not([role="button"])).secondary:is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	),
[role="link"].secondary:is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	) {
	color: $easy-color-secondary;
	text-decoration-color: $easy-color-secondary;
}

:where(a:not([role="button"])).contrast,
[role="link"].contrast {
	--pico-color: var(--pico-contrast);
	--pico-underline: var(--pico-contrast-underline);
}

:where(a:not([role="button"])).contrast:is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	),
[role="link"].contrast:is(
		[aria-current]:not([aria-current="false"]),
		:hover,
		:active,
		:focus
	) {
	--pico-color: var(--pico-contrast-hover);
	--pico-underline: var(--pico-contrast-hover-underline);
}

a[role="button"] {
	display: inline-block;
}
