h1 Peeko
p Hi there, I am a Software Engineer from the Netherlands. Mainly focusing on backend development. Currently working at Reclamefolder.
p On this domain I host stuff that I felt like hosting at some point.

h1
	a(href="/about-me") About me

p A curriculum vitae like page about me.

h1
	a(href="https://github.com/nils-degroot/", target="_blank") Git

p All the public project I have are stored on github.

h1
	a(href="/blog") Blog

p Stuff I wrote. Just technical.
