@font-face {
	font-family: "JetBrainsMono";
	font-display: swap;
	src: url("/font.ttf");
}

:root {
    --bg: #1c1b19;
	--bg-dark: #161614;
    --fg: #fce8c3;
    --fg-muted: #918175;
	--link-active: #519f50;
	--link-visited: #98bc37;
	--blockquote-indent: #fed06e;
}

html, body {
	max-width: 100%;
	background-color: var(--bg);
	color: var(--fg);
	font-family: JetBrainsMono, monospace;
}

a, a:visited {
  color: var(--link-visited);
}

a:hover, a:focus, a:active {
  color: var(--link-active);
}

blockquote {
	border-left: 3px solid var(--blockquote-indent);
	padding-left: 1rem;
	color: var(--fg);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-auto-columns: max-content;
	grid-row-gap: 1rem;
}

.container {
	width: 1320px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 576px) {
	.container {
		width: 100%;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: .5rem;
}

.mb-2 {
	margin-bottom: 1rem;
}

.img-round {
	border-radius: 50%;
}

.text-center {
	text-align: center;
}

.sourceCode {
	background-color: var(--bg-dark);
}

code > span {
	margin: 1em;
}
